<h1>Blogtastic</h1>
  <div class="nav">
    <ul>
      <li>Tag1</li>
      <li>Tag2</li>
      <li>Tag3</li>
      <li>Tag4</li>
      <li>Tag5</li>
    </ul>
  </div>

<div class="posts_container">
  <div class="post">
    <h3>Post Title</h3>
    <content>
      <p>Post text goes here.</p>
      <p>More post text goes here.</p>
    </content>
  </div>
  <div class="post">
    <h3>Another post Title</h3>
    <content>
      <p>Post text goes here.</p>
      <p>More post text goes here.</p>
    </content>
  </div>
</div>
