<% if @tags %>
  <%= erb :_tags_side_bar, layout: false %>
<% end %>

<% if @tag %>
  <h2><%= @tag.name %></h2>
<% end %>

<div class="posts_container">
  <% if @posts %>
    <% if @posts.class == Post %>
      <% @post = @posts %>
      <%= erb :_single_post, layout: false %>
    <% else %>
      <% @posts.each do |post| %>
        <% @post = post %>
        <%= erb :_post_stub, layout: false %>
      <% end %>
    <% end %>
  <% end %>
</div>
