
<div class="posts_container">
  <div class="post">
    <h3>Post Title</h3>
    <content>
      <p>Post text goes here.</p>
      <p>More post text goes here.</p>
    </content>
  </div>
  <div class="post">
    <h3>Another post Title</h3>
    <content>
      <p>Post text goes here.</p>
      <p>More post text goes here.</p>
    </content>
  </div>
  <div>
    <a href="/create">Create New Post</a>
  </div>
</div>